* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #010409;
  height: 60px;
  border-bottom: 1px solid #686767;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.active {
  background-color: #848d97;
  border-bottom: 1px solid #767676;
}

#dia-noche {
  align-items: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

#container-toggle {
  position: relative;
  background: linear-gradient(145deg, #9e9c9c, #f1eeee);
  height: 25px;
  width: 50px;
  cursor: pointer;
  border-radius: 25px;
}

#toggle {
  position: absolute;
  top: 0;
  left: 0px;
  width: 25px;
  height: 25px;
  transform: scale(0.7);
  background: #e1dfdf;
  border-radius: 25px;
}

#toggle.active {
  left: 25px;
}

main {
  display: flex;
}

#col1 {
  width: 65%;
  background-color: #0d1117;
  border-right: 1px solid #686767;
  height: 530px;
  padding: 20px;
}

#col1.active {
  background-color: #d2d2d2;
  border-right: 1px solid #767676;
}

#col2 {
  width: 35%;
  background-color: #30363d;
  padding: 20px;
  height: 530px;
}

#col2.active {
  background-color: #ffffff;
}

small {
  font-size: 11px;
  font-weight: bold;
  color: #848d97;
}

small.active {
  color: #30363d;
}

textarea,
#resultado {
  padding: 20px;
  width: 100%;
  font-weight: bold;
}

.mostrar-resultado {
  height: 350px;
  overflow-y: auto;
}

#boton-copiar {
  width: 90%;
  height: 65px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  background: #0c3272;
  color: #fff;
  border: 1px solid #686767;
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 25px;
}

#boton-copiar:hover {
  transform: scale(1.1);
}

textarea {
  height: 310px;
  resize: none;
  margin-bottom: 10px;
  font-size: x-large;
  box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(167, 167, 167, 0.75);
}

#resultado {
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  height: 100%;
}

#resultado.active {
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.texto-principal {
  font-size: x-large;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  overflow-wrap: break-word;
}

#texto-resultado {
  color: #0c3272;
}

#titulo-resultado {
  font-style: italic;
  font-size: small;
}

.box-img {
  width: 100%;
  padding: 35px 12%;
}

.box-img img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #010409;
  border-top: 1px solid #686767;
  height: 50px;
  display: flex;
  align-items: center;
  color: antiquewhite;
  font-size: 11px;
  justify-content: center;
}

footer.active {
  background-color: #697078;
  border-top: 1px solid #767676;
}

.col-footer {
  text-align: center;
  width: 33.3%;
}

.logos {
  height: 20px;
  width: auto;
  filter: invert();
  margin: 0px 10px 0px 10px;
}

#logo-alura {
  transition: filter 0.3s;
  height: 40px;
  width: auto;
  filter: contrast(1000%) invert();
}

#logo-alura:hover {
  filter: none;
}

#cont-botones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton {
  width: 400px;
  height: 65px;
  margin: 40px 20px 5px 20px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background: #fff;
  color: #010409;
}
.activo {
  background: #0c3272;
  color: #fff;
  border: 1px solid #686767;
  cursor: pointer;
  transition: transform 0.5s;
}
.activo:hover {
  transform: scale(1.05);
}

.zoom {
  transition: transform 0.5s;
}
.zoom:hover {
  transform: scale(1.3);
}

.ocultar {
  display: none;
}
